/*--------------------------------------------------
    特殊的控件外观样式处理
--------------------------------------------------*/

.x-panel-header-default {
    background-color: #830000!important;
}


/* 查询框无下边框 */
.querypanel .x-panel-body {
    border-bottom-width: 0 !important;
}

/* 下拉列表最多显示 6 行 */
.x-list-plain {
    max-height: 144px;
}

/* 标签栏文字颜色 */
.x-form-display-field-default {
    color: blue;
}

/* 标签栏文字颜色(只需为其添加CssClass即可) */
/*.spanRed span:nth-child(3)*/ 
.spanRed div span {
    color: red;
}
.spanGreen div span {
    color: green;
}
.spanBlue div span {
    color: blue;
}
.spanMaroon div span {
    color: maroon;
}
